{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Πληροφορίες</h1>
            <span class="subheading">Αν έχετε απορίες εμείς εχουμε τις απαντήσεις</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Η ΗΛΙΑΔΕΣ είναι μια εταιρεία κτηνιατρικών και συμβουλευτικών υπηρεσιών που ειδικεύεται στη διαχείριση κοπαδιών αιγοπροβάτων. Επικεντρώνεται στην παροχή της απαραίτητης τεχνικής βοήθειας στους αγρότες, μέσω της εφαρμογής σύγχρονων επιστημονικών πρακτικών για την ενίσχυση της βιωσιμότητας και της κερδοφορίας των εκμεταλλεύσεών τους.</p>
        <p>Το επιστημονικό προσωπικό της εταιρείας αποτελείται από δύο κτηνιάτρους με εμπειρία στην εκτροφή μικρών μηρυκαστικών και διαχείριση υγείας, ενώ διαθέτει και αξιόπιστο δίκτυο συνεργατών εξειδικευμένων σε συναφείς τομείς, που εργάζονται σε ερευνητικά ιδρύματα, ακαδημαϊκά τμήματα ή στον ιδιωτικό τομέα.</p>
        <p>Η εταιρεία μας απευθύνεται τόσο στον ιδιωτικό τομέα όσο και σε οργανισμούς που ενδιαφέρονται για πρακτικές κτηνοτροφικής ανάπτυξης, ολιστικής διαχείρισης εκτροφής και τεχνικών υποβοηθούμενης αναπαραγωγής. Ανυπομονούμε επίσης να συνεργαστούμε με εταιρείες που δραστηριοποιούνται στον πρωτογενή τομέα, προκειμένου να παρέχουμε αξιόπιστες και ολοκληρωμένες υπηρεσίες, καθώς και να συνεργαστούμε με Ανώτατα Εκπαιδευτικά Ιδρύματα και Ερευνητικά Κέντρα, σε εθνικό και διεθνές επίπεδο.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}