{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Information</h1>
            <span class="subheading">If you have questions, we have the answers</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>HELIADES is a company specializing in veterinary and consulting services focused on managing herds of goats. It emphasizes providing essential technical assistance to farmers by applying modern scientific practices to enhance sustainability and profitability of their operations.</p>
        <p>The scientific staff of the company consists of two veterinarians with experience in small ruminant breeding and health management. Additionally, it has a reliable network of collaborators specialized in related fields, working in research institutions, academic departments, or in the private sector.</p>
        <p>Our company caters to both the private sector and organizations interested in practical livestock development, holistic herd management, and techniques of assisted reproduction. We also look forward to collaborating with companies operating in the primary sector to provide reliable and comprehensive services, as well as partnering with Higher Education Institutions and Research Centers at national and international levels.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}
